/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 0, 0, 0.941);
}

/* Header */

.nav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #161616;
    margin-inline: 32rem;
    border-radius: 20px;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
}

.nav ul {
    list-style: none;

}

.nav ul nav {
    display: flex;
    gap: 3rem;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
    display: inline-block;
}

.nav a:hover {
    transform: translateY(-4px);
    color: #b6b4bd34;
}