/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 0, 0, 0.941);
}

/* Header */

.nav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #161616;
    margin-inline: 32rem;
    border-radius: 20px;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
}

.nav ul {
    list-style: none;

}

.nav ul nav {
    display: flex;
    gap: 3rem;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: 0.2s;
    display: inline-block;
}

.nav a:hover {
    transform: translateY(-4px);
    color: #b6b4bd9f;
}

/* Main */

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "left right";
    gap: 2rem;
    padding: 2rem;
}

.left {
    grid-area: left;
    position: sticky;
    top: 2rem;
    height: fit-content;
    background: white;
    padding: 2rem;
    width: 60%;
    margin-left: 7rem;
    border-radius: 15px;
    text-align: center;
}

.left .first {
    width: 240px;
    border-radius: 15px;
    margin-bottom: 1rem;
    height: 310px;
}

.left h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    font-style: normal;
    padding-bottom: 5rem;
}

.left p{
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.icons a{
    transition: 0.2s;
}

.icons a:hover{
    background-color: rgb(215, 214, 214);
    border-radius: 5px;

}

.icons img {
    width: 30px;
    height: auto;
}