/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 0, 0, 0.941);
}

/* Header */

.nav {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #161616;
    margin-inline: 32rem;
    border-radius: 20px;
    padding: 1.5rem 0;
    margin-bottom: 3rem;
}

.nav ul {
    list-style: none;

}

.nav ul nav {
    display: flex;
    gap: 3rem;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: 0.2s;
    display: inline-block;
}

.nav a:hover {
    transform: translateY(-4px);
    color: #b6b4bd9f;
}

/* Main */

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "left right";
    padding: 2rem;
}

.left {
    grid-area: left;
    position: sticky;
    top: 2rem;
    height: fit-content;
    background: white;
    padding: 2rem;
    width: 60%;
    margin-left: 7rem;
    border-radius: 15px;
    text-align: center;
}

.left .first {
    width: 240px;
    border-radius: 15px;
    margin-bottom: 1rem;
    height: 310px;
}

.left h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    font-style: normal;
    padding-bottom: 5rem;
}

.left p {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: gray;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.icons a {
    transition: 0.2s;
}

.icons a:hover {
    background-color: rgb(215, 214, 214);
    border-radius: 5px;

}

.icons img {
    width: 30px;
    height: auto;
}

/* Home */

.home {
    color: white;
    margin-bottom: 7rem;
}

.texts-home {
    margin-bottom: 5rem;
}

.texts-home h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
}

.word2 span {
    color: #b6b4bd35;
}

.hero__texts__hero-title .word,
.hero__texts__hero-title .word2 {
    display: block;
    white-space: nowrap;
}

.hero__texts__hero-title span span {
    display: inline-block;
}

.hero__texts__hero-title span span:hover {
    transition: 0.4s;
    animation: letterMove 0.45s ease-in-out;
}

.hero__texts__hero-title .word span:hover{
    color: #b6b4bd35;
}

.hero__texts__hero-title .word2 span:hover{
    color: white;
}

@keyframes letterMove {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-12px);
    }

    45% {
        transform: translateX(12px);
    }

    65% {
        transform: translateX(-4px);
    }

    82% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.texts-home p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #b6b4bdbf;
    font-size: 1.2rem;
    width: 70%;
}

.statics-home {
    display: flex;
    justify-content: start;
    margin-bottom: 5rem;
    gap: 5rem;
}

.statics h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
}

.statics p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #b6b4bdbf;
    font-size: 1.2rem;
    width: 50%;
}

.statics:nth-child(2) h2 {
    width: 50%;
}

.statics:last-child {
    position: relative;
    left: -7.1rem;
}

.cards-home{
    display: flex;
    gap: 2rem;
}

.cards-home .card:first-child{
    background-color: rgb(8, 8, 65);
    border-radius: 15px;
    padding: 4rem 1rem;
}

.cards-home .card:last-child{
    background-color: #b6b4bd16;
    border-radius: 15px;
    padding: 4rem 1rem;
    margin-right: 5rem;
}

.card:first-child h1{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: relative;
    top: -1rem;
    left: 1rem;
    width: 120%;
}

.card:first-child p{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: 2rem;
    left: 1rem;
    font-size: 2rem;
    width: 100%;

}

.card:last-child h1{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: relative;
    top: -1rem;
  
}

.card:last-child p{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: 2rem;
    font-size: 1.4rem;

}

/* Projects */

.project{
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    border-radius: 10px;
    padding: 2rem;
    transition: 0.2s;
}


.project:hover{
    background-color: rgba(128, 128, 128, 0.084);
}

.project img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.project__texts__project-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    margin-bottom: 3rem;
}

.word{
    color: white;
}


.project__texts__project-title .word,
.project__texts__project-title .word2 {
    display: block;
    white-space: nowrap;
}

.project__texts__project-title span span {
    display: inline-block;
}

.project__texts__project-title span span:hover {
    transition: 0.4s;
    animation: letterMove 0.45s ease-in-out;
}

.project__texts__project-title .word span:hover{
    color: #b6b4bd35;
}

.project__texts__project-title .word2 span:hover{
    color: white;
}

.project-texts h2{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.project-texts p{
    color: #b6b4bdbf;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70%;
 
}

.project-texts h2{
    position: relative;
    top: -1rem;
}

.projects-button{
    margin-bottom: 5rem;
    background-color: #181818fb;
    border-radius: 10px;
    width: 26%;
    padding: 1rem 2rem;
    position: relative;
    left: 70%;
    margin-top: 2rem;
    transition: 0.2s;

}

.projects-button:hover{
    background-color: rgba(128, 128, 128, 0.204);
}

.projects-button a{
    text-decoration: none;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}


